body {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  background-image: url("./public/bg2-t77.png");
  background-size: cover;
  background-repeat: repeat;
  
}

.App {
  max-width: 1000px;
  margin: 0.2em;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #45354a;
  background-image: url("./public/bg-w.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  padding-bottom: 0.5rem;
  
  a {
    text-decoration: auto;
  }
}