body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  max-width: 1000px;
  margin: .2em;
  text-align: center;
}

/* theme color
black: #08110b
white: #f8fcf9
purple: #bd7aa8
pink: #e2c5ca
dark purple: #854893
*/