h2 {
   color: #854893;
   padding: 0.5rem;
   padding-top: 1rem;
   border-bottom: 0.3rem #CF4307;
   font-size: 1.8rem;
   margin-top: 0rem;
   text-transform:uppercase;
   letter-spacing:1px;
   font-family: 'Comfortaa', sans-serif;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   background-image: url("../../public/h2-pref4.png");
   background-size: cover;
   background-position: center;

   &:before {
      background-color: #bd7aa8;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
      position: relative;
      right: -155px;
    }

    &:after {
      background-color: #bd7aa8;
      content: '';
      display: block;
      position:relative; left: 338px;; bottom:0;
      height: 3px;
      width: 75px;
      margin-bottom: 0.25em;
    }
 }

.saved-job-item {
  box-sizing: border-box;
  padding: 1em;
  background-color: aliceblue;
  box-shadow: 0.3em 0.3em 0.3em 1px rgba(0, 0, 255, .2);
}

.top-saved-box {
  display: flex;
  justify-content: space-around;
}

.bottom-saved-box {
  display: flex;
  justify-content: space-between;
}

.check-applied {
  color: grey;

  &:hover{
    cursor: pointer;
    color: greenyellow;
  }
}

.delete-saved {
  color: grey;

  &:hover{
    cursor: pointer;
    color: lightcoral;
 } 
}

.apply-link {
  color: darkgreen;
  font-weight: bold;
  text-decoration: none;

  &:hover{
    cursor: pointer;
    color: green;
  }
}