section {
  box-sizing: border-box;
  padding: 1em;
  background-color: azure;
  box-shadow: 0.5em 0.5em 0.5em 1px rgba(0, 0, 255, .2);
}

.top-saved-box {
  display: flex;
  justify-content:space-around;
}

.bottom-saved-box {
  display: flex;
  justify-content: space-between;
}

.check-applied {
  color: grey;
}