@import "../../bootstrap-variables.scss";
@import 'bootstrap/scss/bootstrap';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 30rem;
  font-size: 1.7rem;

  button {
    margin-top: 3rem;
  }
}

