.main-image {
  max-width: 40rem;
  max-height: 50rem;
}

.main-job-points {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.main-points-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-job-details {
  list-style-type: none;
}

.job-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 85%;
  width: 75%;
  overflow-y: scroll;
  border-radius: 12px;
}

.job-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.main-points-text-container {
  position: absolute;
  width: 38rem;
  color: rgb(255, 255, 255);
  left: 0%;
  top: 46%;
  background-color: rgb(41, 41, 41, 0.8);
  padding: 0 1rem;
}
