.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  height: 30rem;
  padding-top: 9rem;
  margin-left: 4rem;

  h2 {
    padding-top: 1rem;
  }
}

.spinner {
  display: block;
  margin: 0 auto;
}

.main-points-container {
 
  position: relative;
  transition: transform 0.5s ease;

  &.saved {
    animation: slideOutRight 0.5s ease;
  }

  &.passed {
    animation: slideOutLeft 0.5s ease;
  }
 
}

@keyframes slideOutRight {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(190%);
   }
}
@keyframes slideOutLeft {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(-190%);
   }
}


.main-img-container {
  width: 40rem;
  height: 30rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;

  .main-image {
  max-width: 95%;
  max-height: 90%;
  height: auto;
  object-fit: contain;
  display: block;
  }
}

.main-points-text-container {
  h2 {
    background-image: url("../../public/h2-p2.png");
    background-size: cover;
    background-position: center;
    color: #f8fbf9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.58rem;
    letter-spacing: 1px;
  }

  .main-job-points {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
    padding-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    li {
      width: 5rem;
      
      .fa-solid, .fas {
        font-size: x-large;
      }
  
      .fa-regular, .far {
        font-size: large;
        font-weight: 900;
      }
    }
  }
}

.try-again-text {
  height: 30rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.no-more-jobs-text {
  height: 30rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.action-buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  
}
// .main-points-text-container {
//   position: absolute;
//   width: 38rem;
//   color: rgb(255, 255, 255);
//   left: 0%;
//   top: 46%;
//   background-color: rgb(41, 41, 41, 0.8);
//   padding: 0 1rem;
// }
