.main-points-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-img-container {
  width: 40rem;
  height: 30rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-image {
  max-width: 95%;
  max-height: 90%;
  height: auto;
  object-fit: contain;
  display: block;
  }
}

.main-points-text-container {
  h2 {
    background-image: url("../../public/h2-p2.png");
    background-size: cover;
    background-position: center;
    color: #f8fbf9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.58rem;
  }

  .main-job-points {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    padding-top: 10px;

    .fa-solid, .fas {
      font-size: x-large;
    }

    .fa-regular, .far {
      font-size: large;
    }
  }
}


.action-buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  
}


.modal-job-details {
  list-style-type: none;
}

.job-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 85%;
  width: 75%;
  overflow-y: scroll;
  border-radius: 12px;
}

.job-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

// .main-points-text-container {
//   position: absolute;
//   width: 38rem;
//   color: rgb(255, 255, 255);
//   left: 0%;
//   top: 46%;
//   background-color: rgb(41, 41, 41, 0.8);
//   padding: 0 1rem;
// }
