// @import "bootstrap/scss/functions";
// @import '../bootstrap-variables.scss';
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/variables-dark";
// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/root";

footer {
  // border-top: 1px solid;
  // border-color: #bd7aa8;
  color: #08110b99;

  span {
    font-size: 0.5 rem;
  }
}