nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
  padding-top: 1rem;
  background-color: #bd7aa8;
  height: 80px;

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      margin: 0 1em;
      margin-left: 18px;

      span {
        margin: 8px;
      }
    }
  }
}

a {
  color: #f8fcf9;
  font-family: "Raleway", sans-serif;
}

#logo {
  img {
    width: 12rem;
  }
}
