nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    background-color: #bd7aa8;
    
  }
  
  ul.menu {
    list-style: none;
    display: flex;
  
    li {
      margin: 0 1em;
    }
  }