nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
  padding-top: 1rem;
  background-color: #bd7aa8;
  height: 80px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;

    li {
      margin: 0 1em;
      margin-left: 18px;
      letter-spacing:1px;
      margin-bottom: 1.5rem;

      span {
        margin: 8px;
      }
    }
  }
}

a {
  --bs-link-color-rgb:248, 252, 249;
  // color: #f8fcf9;
  font-family: "Raleway", sans-serif;
  text-decoration: auto;
}

nav a:hover {
  color: #f3b46a !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

#logo {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;

  img {
    width: 12rem;
  }
}

