.pref {
  // background-color: #f8fcf9;
  font-family: "Raleway", sans-serif;
  color: #130E01;
  padding-bottom: 2rem;
  

  h2 {
    // background-color: #f8fcf9;
    color: #854893;
    padding: 0.5rem;
    padding-top: 1rem;
    border-bottom: 0.3rem #CF4307;
    font-size: 1.8rem;
    margin-top: 0rem;
    text-transform:uppercase;
    letter-spacing:1px;

    &:before {
      background-color: #bd7aa8;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
      position: relative;
      right: -110px;
    }

    &:after {
      background-color: #bd7aa8;
      content: '';
      display: block;
      position:relative; right:-364px; bottom:0;
      height: 3px;
      width: 75px;
      margin-bottom: 0.25em;
    }

  }

}

.preferences-input {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;


  label {
    padding: 1rem;
    text-align: center;
    font-weight: bold;

    input {
      width: fit-content;
      height: 1.3rem;
      margin-left: 1rem;
      font-size: 1.1rem;
    }

    select {
      font-size: 1.1rem;
      margin-left: 1rem;
    }

  }

}