.pref {
  padding-bottom: 2rem;
  
  h2 {
    color: #854893;
    padding: 0.5rem;
    padding-top: 1rem;
    border-bottom: 0.3rem #CF4307;
    font-size: 1.8rem;
    margin-top: 0rem;
    text-transform:uppercase;
    letter-spacing:1px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url("../../public/h2-pref4.png");
    background-size: cover;
    background-position: center;

    &:before {
      background-color: #bd7aa8;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
      position: relative;
      right: -240px;
    }

    &:after {
      background-color: #bd7aa8;
      content: '';
      display: block;
      position:relative; right:-364px; bottom:0;
      height: 3px;
      width: 75px;
      margin-bottom: 0.25em;
    }

  }

}

.preferences-inputs {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding-bottom: 1rem;

  label {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    

    input {
      width: fit-content;
      height: 1.8rem;
      margin-left: 1rem;
      font-size: 1.1rem;
      border-radius: 0.5rem;
      border: rgba(0, 0, 0, 0.175);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    }

    select {
      font-size: 1.1rem;
      margin-left: 1rem;
      height: 1.8rem;
      border-radius: 0.5rem;
      padding: 0.2rem;
      border: rgba(0, 0, 0, 0.175);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      
     
    }

  }

  .input-box-container{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .freeform-inputs{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
  }
}

