.pref {
  background-color: #FFFAEB;
  font-family: 'Poppins', sans-serif;
  color: #130E01;
  padding-bottom: 1rem;
  

  h2 {
    background-color: #FF8400;
    color: #FFFAEB;
    padding: 0.5rem;
    border-bottom: dotted 0.3rem #CF4307;
    font-size: 1.8rem;
    margin-top: 0rem;
  }

}

.preferences-input {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;


  label {
    padding: 1rem;
    text-align: center;
    font-weight: bold;

    input {
      width: fit-content;
      height: 1.3rem;
      margin-left: 1rem;
      font-size: 1.1rem;
    }

    select {
      font-size: 1.1rem;
      margin-left: 1rem;
    }

  }

}